/* 폰트 */
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 폰트 적용 */
body {
  font-family: 'GangwonEdu_OTFBoldA', sans-serif;
}

/* 양 옆 여백 */
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 10px;
}

/* 상단바 (닉네임 변경) */
.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 60px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  margin-bottom: 40px;
}

/* 상단바 글씨 */
.header__title {
  font-size: 20px;
  margin: 0 auto;
}

/* 뒤로가기 버튼 */
.header_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* 닉네임 변경 폼 */
.form {
  border: 1px solid #ccc;
  padding: 30px;
  padding-top: 20px;
  width: 440px;
  border-radius: 5px;
}

/* 닉네임 + 입력창이 같이 움직이게 (사이에 공간 두려고) */
.form__group {
  margin-bottom: 40px;
}

/* 닉네임, 입력창 라벨 */
.form__label {
  display: block;
  margin-bottom: 5px;
}

/* 입력창 */
.form__input {
  font-family: 'GangwonEdu_OTFBoldA', sans-serif;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* 버튼 */
.button {
  font-family: 'GangwonEdu_OTFBoldA', sans-serif;
  background-color: rgb(255, 214, 179);
  border: 1px solid #ccc;
  width: 100%;
  padding: 20px 40px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
}