<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="ChangePassword.css"/>
  <title>비밀번호 변경</title>
  <script src="ChangePassword.js"></script>
</head>
<body>
  <div class="container">
    <header class="header">
      <button class="header_button">
        <img src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-left-01-512.png" alt="뒤로 가기" width="20" height="20">
      </button>
      <h1 class="header__title">비밀번호 변경</h1>
    </header>
    <form class="form">
      <div class="form__group">
        <label for="current-nickname" class="form__label">현재 비밀번호</label>
        <input type="text" id="current-nickname" name="current-nickname" class="form__input" placeholder="현재 비밀번호를 입력하세요">
      </div>
      <div class="form__group">
        <label for="new-nickname" class="form__label">새로운 비밀번호</label>
        <input type="text" id="new-nickname" name="new-nickname" class="form__input" placeholder="새로운 비밀번호를 입력하세요">
      </div>
      <button type="submit" class="button">변경</button>
    </form>
  </div>
</body>
</html>
